__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.env
service_account.json
*.json.key

data/chroma_db/
data/raw_docs/
*.log

venv/
.venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store
.github

credentials.json